<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>To Do List</title>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1>Remove Stylists</h1>
      <em>Be careful when using this page</em>
    </div>
    <form action="" method="post">
      <label for="deleteStylist"> Enter a stylist's name you'd like to delete:</label>
      <input type="text" name="deleteStylist" value="deleteStylist">
      <button type="submit" name="button">Delete</button>
    </form>

    <form action="" method="post">
      <button type="submit" name="button">Delete All Stylists</button>
    </form>


    <a href="/" class="btn btn-dark">Go to Homepage</a>
  </div>
</body>
</html>
