@using HairSalon.Models;

<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Darrion's Hair Salon</title>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Edit Stylists</h1>
      </div>
      <form action="/stylists/editStylist" method="post">
        <select name="stylistId">
        @foreach(Stylist stylist in Stylist.GetListOfStylists())
        {
          <option value="@stylist.GetId()">@stylist.GetName()</option>
        }
        <label for="newName">Stylist's New Name</label>
        <input type="text" name="newName">
        </select>
        <button type="submit" name="button">Edit</button>
      </form>
  </body>
</html>
