<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Salon's Stylists</title>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1>Stylists</h1>
    </div>
    <a href="/stylists/specialties" class="btn btn-dark">See Stylist by Specialty</a>

    <ul>
    @if (Model.Count == 0)
    {
      <p>No stylists have been added yet!</p>
    }
    @if (Model.Count != 0)
    {
      @foreach (var stylist in Model)
      {
        <a href="/stylists/@stylist.GetId()/clients">Name: @stylist.GetName()</a><br>
      }
    }
    </ul>
    <a href="/stylists/new" class="btn btn-dark">Add Stylist</a>
    <a href="/stylists/delete" class="btn btn-dark">Delete a Stylist</a>
    <a href="/stylists/edit" class="btn btn-dark">Update a Stylist</a>
    <a href="/" class="btn btn-dark">Back to homepage</a>
  </div>
</body>
</html>
