<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Darrion's Salon</title>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Owner Settings</h1>

    <a href="/stylists/new" class="btn btn-dark">Add Stylist</a>
    <a href="#" class="btn btn-dark">Update A Stylist</a>
    <a href="#" class="btn btn-dark">Delete A Stylist</a>
    <a href="#" class="btn btn-dark">View List of Stylists</a>
    <a href="#" class="btn btn-dark">Return Home</a>
  </body>
</html>
