@using HairSalon.Models;

<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>Delete</title>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1>Remove Clients for @Model.GetName()</h1>
      <em>Be careful when using this page</em>
    </div>
    <form action="/clients/deleteClient" method="post">
      <select name="clientId">
      @foreach(Client client in Client.GetListOfClients(@Model))
      {
        <option value="@client.GetId()">@client.GetName()</option>

      }
      </select>
      <button type="submit" name="button">Delete</button>
    </form>

    <form action="/clients/deleteAll" method="post">
      <button type="submit" name="button">Delete All Clients</button>
    </form>


    <a href="/" class="btn btn-dark">Go to Homepage</a>
  </div>
</body>
</html>
