<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>To Do List</title>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
</head>
<body>
  <div class="container">
    <div class="jumbotron">
      <h1></h1>
      <em>You can add a new item to the <strong>@Model.GetName()</strong> category here.</em>
    </div>
    <form action='/categories/@Model.GetId()/items' method='post'>
      <!-- <input id='categoryId' name='categoryId' type='hidden' value='@Model.GetId()'> -->
      <label for='clientName'>To do item:</label>
      <input id='clientName' name='clientName' type='text'>
      <button type='submit' class="btn btn-dark">Add item</button>
    </form>
  </div>
</body>
</html>
